fdnails3/xml/acquisti.dtd

<!ELEMENT acquisti (acquisto*)>

<!ELEMENT acquisto (prodotto*)>
<!ATTLIST acquisto
  id     CDATA #REQUIRED
  utente CDATA #REQUIRED
  data   CDATA #REQUIRED
  totale CDATA #REQUIRED
>

<!ELEMENT prodotto EMPTY>
<!ATTLIST prodotto
  id_smalto       CDATA #REQUIRED
  quantita        CDATA #REQUIRED
  prezzo_unitario CDATA #REQUIRED
>
