fdnails3/xml/promozioni.dtd

<!ELEMENT promozioni (sconti, bonus)>

<!ELEMENT sconti (sconto*)>
<!ELEMENT sconto (descrizione, applicazione)>
<!ATTLIST sconto id ID #REQUIRED
                tipo (generico|registrati|prodotto|personalizzato) #REQUIRED
                valorePercento CDATA #REQUIRED
                dal CDATA #REQUIRED
                al CDATA #REQUIRED>

<!ELEMENT bonus (bonusterm*)>
<!ELEMENT bonusterm (descrizione, applicazione)>
<!ATTLIST bonusterm id ID #REQUIRED
                    tipo (generico|personalizzato) #REQUIRED
                    crediti CDATA #REQUIRED
                    dal CDATA #REQUIRED
                    al CDATA #REQUIRED>

<!ELEMENT descrizione (#PCDATA)>

<!ELEMENT applicazione (tutti | criterio | idProdotto)>
<!ELEMENT tutti EMPTY>

<!ELEMENT criterio EMPTY>
<!ATTLIST criterio tipo (reputazione|anzianita|crediti_spesi) #REQUIRED
                 valore CDATA #REQUIRED>

<!ELEMENT idProdotto (#PCDATA)>
