fdnails3/xml/recensioni.dtd

<!ELEMENT recensioni (recensione*)>

<!ELEMENT recensione (titolo, testo, voto, utilita, supporto, data)>
<!ATTLIST recensione id ID #REQUIRED
                   id_smalto CDATA #REQUIRED
                   username CDATA #REQUIRED>

<!ELEMENT titolo (#PCDATA)>
<!ELEMENT testo (#PCDATA)>
<!ELEMENT voto (#PCDATA)>
<!ELEMENT utilita (#PCDATA)>
<!ELEMENT supporto (#PCDATA)>
<!ELEMENT data (#PCDATA)>
